<header role="banner">
    <div class="flex conteneur">
        <div class="col-l1"><a href="https://www.defense.gouv.fr/"
                               title="defense.gouv.fr - [Ouvrir dans une nouvelle fenêtre]"
                               rel="noopener noreferrer" target="_blank"><img
                        src="{{ asset('assets/pages/images/Logo_ministere.svg') }}" alt="Logo Ministère des Armées"
                        id="mda_logo1"><img src="{{ asset('assets/pages/images/Logo_ministere.svg') }}"
                                            alt="Mogo Ministère des Armées" id="mda_logo2"></a></div>
        <div class="col-l2"><a class="hvr-underline-from-left active"
                               title="Civils de la Défense - [Retour à l'accueil]" href="#home">Civils de la
                Défense</a></div>
        <nav class="col-r" role="navigation">
            <ul>
                <li><a class="hvr-underline-from-left" href="#rejoindre">Comment nous rejoindre</a></li>
                <li><a class="hvr-underline-from-left" href="#metiers">Métiers</a></li>
                <li><a id="recrutement" aria-current="page" href="/recrutement">Recrutement</a></li>
                <li><a id="contact" href="/contact">Contact</a></li>
                <div class="col2-burger">
                    <div>
                        <div class="bm-overlay"
                             style="position: fixed; z-index: 1000; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); opacity: 0; transform: translate3d(100%, 0px, 0px); transition: opacity 0.3s ease 0s, transform 0s ease 0.3s;"></div>
                        <div>
                            <div class="bm-burger-button" style="z-index: 1000;"><span><span class="bm-burger-bars"
                                                                                             style="position: absolute; height: 20%; left: 0px; right: 0px; top: 0%; opacity: 1;"></span><span
                                            class="bm-burger-bars"
                                            style="position: absolute; height: 20%; left: 0px; right: 0px; top: 40%; opacity: 1;"></span><span
                                            class="bm-burger-bars"
                                            style="position: absolute; height: 20%; left: 0px; right: 0px; top: 80%; opacity: 1;"></span></span>
                                <button style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px; border: none; font-size: 0px; background: transparent; cursor: pointer;">
                                    Open Menu
                                </button>
                            </div>
                        </div>
                        <div id="" class="bm-menu-wrap"
                             style="position: fixed; right: 0px; z-index: 1100; width: 300px; height: 100%; transform: translate3d(100%, 0px, 0px); transition: all 0.3s ease 0s;">
                            <div class="bm-morph-shape"
                                 style="position: absolute; width: 120px; height: 100%; right: inherit; left: 0px; transform: rotateY(180deg);">
                                <svg width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
                                    <path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z"></path>
                                </svg>
                            </div>
                            <div class="bm-menu"
                                 style="height: 100%; box-sizing: border-box; overflow: visible; position: fixed; right: 0px; width: 180px; white-space: nowrap;">
                                <nav class="bm-item-list"
                                     style="height: 100%; position: relative; left: -110px; width: 170%; overflow: auto;">
                                    <a class="bm-item menu-item" tabindex="-1" href="/#home"
                                       style="display: block;">Accueil</a><a class="bm-item menu-item" tabindex="-1"
                                                                             href="/#rejoindre"
                                                                             style="display: block;">Nous
                                        rejoindre</a><a class="bm-item menu-item" tabindex="-1"
                                                        href="/metiers#metiersAll" style="display: block;">Nos
                                        métiers</a><a class="bm-item menu-item" aria-current="page" tabindex="-1"
                                                      href="/recrutement" style="display: block;">Recrutement</a><a
                                            class="bm-item menu-item" tabindex="-1" href="/contact"
                                            style="display: block;">Contact</a><a class="bm-item menu-item"
                                                                                  tabindex="-1"
                                                                                  href="/accessibilite"
                                                                                  style="display: block;">Accessibilité</a><a
                                            class="bm-item menu-item" tabindex="-1" href="/cgu"
                                            style="display: block;">CGU</a><img
                                            src="/static/media/cd-logo.5597a56c.png" alt="Logo Civils de la Défense"
                                            id="burger-logo" class="bm-item" tabindex="-1" style="display: block;">
                                </nav>
                            </div>
                            <div>
                                <div class="bm-cross-button"
                                     style="position: absolute; width: 24px; height: 24px; right: 8px; top: 8px;">
                                        <span style="position: absolute; top: 6px; right: 14px;"><span class="bm-cross"
                                                                                                       style="position: absolute; width: 3px; height: 14px; transform: rotate(45deg);"></span><span
                                                    class="bm-cross"
                                                    style="position: absolute; width: 3px; height: 14px; transform: rotate(-45deg);"></span></span>
                                    <button tabindex="-1"
                                            style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px; border: none; font-size: 0px; background: transparent; cursor: pointer;">
                                        Close Menu
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </nav>
    </div>
</header>
