{% extends 'views/public/layout.html.twig' %}
{% block title %}Les dispositifs de formations{% endblock %}
{% block body %}
    <style>
        .trait {
            width: 20%;
            height: 6px;
            margin-bottom: 30px;
            background-color: #000091;
        }

        .accordeon-title {
            background-color: white;
            border-right: unset;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        }

        .accordeon-title > h5 > button {
            color: #000091;
        }
    </style>
    <main role="main">
        <section style="padding-top: 10%;padding-bottom: 5%">
            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                        <h1 class="sm" style="color: #000091">Dispositifs
                            <br>de formation</h1>
                        <div class="trait"></div>
                        <span>Cliquez sur les blocs pour lire l'explication</span>
                        <div id="accordion" class=" mt-5">
                            <div class="card mb-2 border-0">
                                <div class="card-header accordeon-title" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link text-decoration-none"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Comment exprimer son besoin de formation ?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            Lors de l'entretien de formation (CREP) réalisé annuellement entre l'agent
                                            et son supérieur hiérarchique direct. Cet entretien permet d'exprimer des
                                            demandes de formation répondant à diverses finalités :
                                        </p>
                                        <ul>
                                            <li>L'agent peut demander à acquérir de nouvelles compétences afin
                                                d'orienter son parcours professionnel vers un autre métier ou demander
                                                un cursus de formation le préparant à des responsabilités supérieures,
                                            </li>
                                            <li>L'administration peut également demander que l'agent développe les
                                                compétences nécessaires à l'exercice des fonctions qui lui sont
                                                confiées, ou qu'il en acquière de nouvelles.
                                            </li>
                                        </ul>
                                        <p>Les formations utiles pour qu'un agent puisse atteindre les objectifs qui lui
                                            ont été assignés sont considérées comme prioritaires. Par ailleurs, le cadre
                                            peut encourager l'agent à s'inscrire à des formations utiles à son évolution
                                            de carrière (préparation aux concours...)</p>
                                        <p>L'agent peut à cette occasion demander à bénéficier des dispositifs de la
                                            formation professionnelle tout au long de la vie : préparation à un examen
                                            ou à un concours, bilan de compétences, compte personnel de formation (CPF),
                                            validation des acquis de l'expérience professionnelle (VAE), congé de
                                            formation professionnelle.<br>
                                            L'entretien de formation, ainsi réalisé lors de l'entretien professionnel,
                                            fait l'objet d'un compte rendu co-signé et rédigé sur la base d'une fiche
                                            préétablie versée au dossier de l'agent. </p>
                                        <p>Les besoins de formation consécutifs à l'affectation d'un agent sur un
                                            nouveau poste, intervenant en cours d'année, donnent lieu à une ou plusieurs
                                            demandes de stages destinés à permettre à l'agent d'acquérir les compétences
                                            requises dans l'exercice de ses nouvelles fonctions. Ces demandes sont
                                            effectuées par le supérieur hiérarchique de l'agent auprès du responsable de
                                            formation. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 border-0">
                                <div class="card-header accordeon-title" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed text-decoration-none"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            Le compte personnel de formation
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <a href="">Accéder à la page dédiée au CPF </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 border-0">
                                <div class="card-header accordeon-title" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed text-decoration-none"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            La période de professionnalisation
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Tout agent, titulaire, civil contractuel, ou ouvrier de l'État peut
                                            bénéficier d'une période de professionnalisation, d'une durée comprise entre
                                            trois et douze mois et comportant une activité de service et des actions de
                                            formation en alternance.<br>
                                            Ce dispositif vise à permettre d'accéder à un emploi exigeant des
                                            compétences nouvelles ou à des activités professionnelles différentes. La
                                            période de professionnalisation peut également donner l'accès à un autre
                                            corps ou cadre d'emplois de même niveau et classé dans la même
                                            catégorie.<br>
                                            Elle peut être engagée à l'initiative de l'administration ou sur demande de
                                            l'agent et donne alors lieu à une convention entre les deux parties, qui
                                            précise les modalités d'application de la période de professionnalisation
                                            (fonctions auxquelles l'agent est destiné, durée de la période de
                                            professionnalisation, qualifications à acquérir et actions de formation
                                            prévues). La convention précise en outre si la période de
                                            professionnalisation a pour objet de permettre au fonctionnaire d'accéder à
                                            un nouveau corps ou cadre d'emplois. Elle doit alors recueillir
                                            l'approbation de la ou des autorités habilitées à prononcer le détachement
                                            et l'intégration dans le corps ou cadre d'emplois de destination.<br>
                                            A l'issue de la période de professionnalisation, si l'agent satisfait à
                                            l'évaluation établissant son aptitude à servir dans le corps ou cadre
                                            d'emplois visé, celui-ci est détaché dans ce nouveau corps ou cadre
                                            d'emplois. Après deux ans en position de détachement, l'agent peut, sur sa
                                            demande, être intégré dans le corps ou cadre d'emplois d'accueil.
                                        </p>
                                        <p style="text-decoration: underline;font-weight: bold;">Comment effectuer sa
                                            demande ?</p>

                                        <p>L'agent transmet sa demande de période de professionnalisation par la voie
                                            hiérarchique. L'administration dispose alors de deux mois pour faire
                                            connaitre son agrément à la demande ou le rejet de celle-ci ; ce rejet
                                            devant être soumis à l'avis de la commission administrative paritaire et
                                            être motivé.<br>
                                            Si la réponse est positive, une convention est alors signée entre l'agent et
                                            l'administration.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 border-0">
                                <div class="card-header accordeon-title" id="heading4">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed text-decoration-none"
                                                data-toggle="collapse" data-target="#collapse4"
                                                aria-expanded="false" aria-controls="collapse4">
                                            Le bilan de compétences
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Financé sur les crédits de la formation continue,le bilan de compétences
                                            peut être demandé par un agent, titulaire ou civil contractuel, ou un
                                            ouvrier de l'État. Un écart minimum de cinq ans est requis entre chaque
                                            bilan de compétences. Pour réaliser ce bilan, un congé fractionnable, qui ne
                                            peut excéder 24 heures, est accordé à l'agent, sous réserve des nécessités
                                            de service. Pendant ce congé, ce dernier continue de percevoir sa
                                            rémunération. Il peut utiliser, pour compléter la préparation ou la
                                            réalisation du bilan, son compte personnel de formation (CPF). Sur
                                            justificatif, le congé est accordé à l'agent qui prépare ou réalise un bilan
                                            de compétences non pris en charge par l'administration.
                                        </p>
                                        <p style="text-decoration: underline;font-weight: bold;">Comment effectuer sa
                                            demande ?</p>
                                        <p>La demande peut notamment être formulée à l'occasion de l'entretien
                                            professionnel annuel (CREP) ou, le cas échéant, lors de l'entretien annuel
                                            de formation ou au titre d'un bilan de carrière. L'administration dispose
                                            d'un délai de deux mois pour faire connaître sa réponse. Celle-ci doit être
                                            motivée en cas de refus. Le bilan de compétences fait alors l'objet d'une
                                            convention tripartite entre l'agent bénéficiaire, l'administration et le
                                            prestataire du bilan de compétences.
                                        </p>
                                        <p>Le ministère des armées disposant de conseillers mobilité-carrières (CMC)
                                            dans chaque CMG et au SPAC, formés à la réalisation de bilan de carrière, il
                                            est conseillé à tout agent souhaitant réaliser un bilan de compétences de
                                            prendre attache avec un CMC au préalable.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 border-0">
                                <div class="card-header accordeon-title" id="heading5">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed text-decoration-none"
                                                data-toggle="collapse" data-target="#collapse5"
                                                aria-expanded="false" aria-controls="collapse5">
                                            La validation des acquis de l'expérience (VAE)
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse5" class="collapse" aria-labelledby="heading5"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            La VAE permet aux agents titulaires, civils contractuels et ouvriers de
                                            l'État de faire reconnaître officiellement leurs compétences
                                            professionnelles et personnelles acquises par l'expérience salariée, non
                                            salariée et/ou bénévole et/ou volontaire, en vue de l'obtention de tout ou
                                            partie d'un diplôme, titre à finalité professionnelle ou certificat de
                                            qualification professionnelle.<br>
                                            L'expérience est validée par un jury. Les certifications, enregistrées au
                                            répertoire national des certifications professionnelles (RNCP), sont
                                            accessibles par la VAE.
                                            Les agents doivent viser un diplôme en rapport avec leur expérience qui doit
                                            être d'au moins un an. La totalité de la certification peut être acquise par
                                            validation, c'est-à-dire, sans suivre de formation et sans passer l'examen.
                                        </p>
                                        <p>Pour l'agent, cette démarche peut avoir pour objectifs de : </p>
                                        <ul>
                                            <li>évoluer sur son emploi,</li>
                                            <li>pstuler à un autre emploi,</li>
                                            <li>changer de métier,</li>
                                            <li>se présenter à un concours ou reprendre ses études,</li>
                                            <li>légitimer son expérience au sein de son service,</li>
                                            <li>accélérer son parcours professionnel.</li>
                                        </ul>
                                        <p>Les agents peuvent bénéficier, à leur demande, d'un congé pour suivre des
                                            actions de formation en vue d'une VAE. Ce congé ne peut excéder 24 heures de
                                            temps de service par an et par validation. Cette durée peut être
                                            fractionnée. Pour compléter la préparation ou la réalisation de cette
                                            validation, le bénéficiaire du congé peut mobiliser son compte personnel de
                                            formation (CPF). Les actions de VAE peuvent être financées par
                                            l'administration dans le cadre du plan de formation. Dans ce cas, une
                                            convention est établie entre l'administration, l'agent et le ou les
                                            organismes concourant à la validation.
                                        </p>

                                        <p style="text-decoration: underline;font-weight: bold;">Comment effectuer sa
                                            demande ?</p>

                                        <ul style="list-style: decimal">
                                            <li>Information conseil orientation</li>
                                            <p> Vous effectuez votre demande de VAE auprès de votre responsable de
                                                formation. Celui-ci vous conseille et vous oriente vers le dispositif
                                                académique de VAE correspondant à votre expérience.
                                            </p>
                                            <li>Recevabilité</li>
                                            <p>L'organisme certificateur vérifie que vous remplissez les conditions (1
                                                an
                                                d'expérience, activités en rapport avec la certification visée) et vous
                                                informe
                                                de sa décision. La décision de recevabilité favorable permet de
                                                poursuivre la
                                                procédure. Le centre ministériel de gestion dont vous dépendez établit
                                                une
                                                convention avec l'organisme de formation.</p>
                                            <li>Présentation de l'expérience</li>
                                            <p>Vous constituez votre dossier VAE dans lequel vous présentez votre
                                                expérience.
                                                Vous pouvez bénéficier pour cela d'un accompagnement méthodologique
                                                auprès d'une
                                                structure spécialisée proposée par le certificateur ou de tout autre
                                                prestataire
                                                habilité.</p>
                                            <li>Jury de Validation</li>
                                            <p>Votre dossier est soumis à un jury de validation. Le jury peut compléter
                                                son
                                                évaluation par un entretien et/ou une mise en situation. Il décide à
                                                l'issue
                                                d'attribuer tout ou partie de la certification.</p>
                                        </ul>
                                        <p>Où s'informer ? Comment s'y prendre ?</p>
                                        <p>Votre responsable de formation est à votre disposition pour répondre à vos
                                            questions concernant ce dispositif.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 border-0">
                                <div class="card-header accordeon-title" id="heading6">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed text-decoration-none"
                                                data-toggle="collapse" data-target="#collapse6"
                                                aria-expanded="false" aria-controls="collapse6">
                                            Le congé de formation professionnelle
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse6" class="collapse" aria-labelledby="heading6"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p> Les agents titulaires, civils contractuels et ouvriers de l'État qui
                                            souhaitent compléter leur formation en vue de satisfaire des projets
                                            professionnels ou personnels peuvent bénéficier d'un congé de formation
                                            professionnelle (CFP). Il permet aux agents de parfaire leur formation par
                                            le biais de stages de formation à caractère professionnel ou personnel qui
                                            ne leur sont pas proposés par l'administration ou par des actions organisées
                                            par l'administration en vue de la préparation aux concours administratifs.
                                            La durée du CFP ne peut excéder trois années pour l'ensemble de la carrière
                                            ; il peut être fractionné.
                                        </p>
                                        <p>Durant le congé de formation professionnelle, le fonctionnaire perçoit,
                                            pendant une durée limitée à douze mois, une indemnité mensuelle forfaitaire
                                            égale à 85 % du traitement brut et de l'indemnité de résidence afférents à
                                            l'indice qu'il détenait au moment de sa mise en congé. L'agent qui bénéficie
                                            d'un congé de formation s'engage à rester au service de l'administration
                                            pendant une durée égale au triple de celle pendant laquelle il a perçu
                                            l'indemnité.
                                        </p>
                                        <p>Les conditions pour y prétendre sont les suivantes :</p>
                                        <ul>
                                            <li>les agents titulaires doivent avoir accompli au moins l'équivalent de
                                                trois années à temps plein de services effectifs dans l'administration,
                                            </li>
                                            <li>les agents civils contractuels doivent justifier de l'équivalent de
                                                trente-six mois au moins de services effectifs à temps plein au titre de
                                                contrats de droit public, dont douze mois au moins dans l'administration
                                                à laquelle est demandé le congé de formation,
                                            </li>
                                            <li>les ouvriers de l'État doivent compter l'équivalent de trois années au
                                                moins de services effectifs à temps plein en cette qualité.
                                                L'administration accorde la demande, dans la limite des crédits
                                                disponibles.
                                            </li>
                                        </ul>
                                        <p class="font-weight-bold">Comment effectuer sa demande ?</p>
                                        <p>La demande de congé de formation professionnelle doit être transmise par la
                                            voie hiérarchique au moins cent-vingt jours avant la date de début de la
                                            formation qui justifie ce congé.
                                        </p>
                                        <p>La demande doit porter mention de cette date et préciser la nature de
                                            l'action de formation, sa durée, et le nom de l'organisme qui la dispense.
                                            L'administration dispose alors de trente jours pour faire connaitre sa
                                            décision d'agrément ou de rejet à l'agent demandeur. Si un refus est opposé
                                            à la demande pour des motifs liés à des nécessités de service, la décision
                                            est alors soumise à l'avis de la commission administrative paritaire.
                                        </p>
                                        <p>L'agent en formation au titre du congé de formation professionnelle est
                                            soumis à une obligation d'assiduité. II doit, à la fin de chaque mois et au
                                            moment de la reprise du travail, fournir une attestation de présence en
                                            formation. Dans le cas des formations par correspondance, l'assiduité est
                                            matérialisée par les relevés de notes de l'agent ; toute absence sans motif
                                            valable entrainant la fin du congé et l'obligation pour l'agent de
                                            rembourser les indemnités perçues.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 border-0">
                                <div class="card-header accordeon-title" id="heading7">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed text-decoration-none"
                                                data-toggle="collapse" data-target="#collapse7"
                                                aria-expanded="false" aria-controls="collapse7">
                                            Les actions de préparation aux examens et concours administratifs et aux
                                            autres procédures de sélection
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse7" class="collapse" aria-labelledby="heading7"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Les préparations aux concours, examens et essais professionnels participent à
                                            l'accompagnement des parcours professionnels des agents. C'est pourquoi
                                            elles font l'objet d'une politique volontariste de la part du ministère des
                                            armées qui incite le plus grand nombre d'agents à se former, toute filière
                                            et toute catégorie confondue.
                                        </p>
                                        <p>Organisées par le centre de formation de la Défense (CFD), en fonction du
                                            calendrier d'organisation des concours et examens professionnels, ces
                                            préparations par correspondance font l'objet d'appels à candidatures à
                                            l'attention des agents.</p>
                                        <p>Concernant les candidats admissibles à l'issue des épreuves écrites, l'étape
                                            de rédaction du dossier de RAEP donne lieu à une formation en présentiel.
                                            Chaque préparation ne peut être suivie qu'une seule fois en 5 ans par niveau
                                            d'examen ou concours présenté.
                                        </p>
                                        <p style="text-decoration: underline;">Règles d'assiduité à connaitre:</p>
                                        <ul>
                                            <li>après une inscription suivie d'un échec, l'agent peut bénéficier d'une
                                                nouvelle inscription à une préparation sous réserve d'avoir rédigé et
                                                envoyé à la correction au moins 90 % des devoirs demandés (les copies
                                                blanches étant comptabilisées comme des devoirs non rendus). Si ce
                                                niveau d'assiduité n'est pas respecté, l'agent ne peut prétendre à une
                                                nouvelle inscription, y compris aux autres préparations, avant un délai
                                                de 3 ans,
                                            </li>
                                            <li>
                                                en cas de défaut d'envoi à la correction du 3ème devoir, l'agent est
                                                rappelé à son obligation d'assiduité,
                                            </li>
                                            <li>
                                                Les annulations de formation non justifiées sont considérées comme une
                                                non-assiduité ; seule la réussite de l'agent à un concours entraîne
                                                l'annulation de la préparation.
                                            </li>
                                        </ul>
                                        <p style="text-decoration: underline;">Dispositions générales : </p>
                                        <ul>
                                            <li>après une deuxième préparation et quel que soit le résultat au concours,
                                                l'agent doit attendre 2 ans avant d'entamer une nouvelle préparation, ce
                                                délai étant calculé à partir de la date de fin de préparation ;
                                            </li>
                                            <li>les agents ne peuvent cumuler plusieurs préparations dans le même cycle
                                                (par exemple : deux préparations par correspondance aux concours
                                                internes et aux examens professionnels ou une préparation par
                                                correspondance aux concours internes et aux examens professionnels, avec
                                                une préparation IRA ou ENA),
                                            </li>
                                            <li>
                                                après une inscription à une préparation suivie d'un succès au concours
                                                ou à l'examen, l'agent ne peut entamer une autre préparation par
                                                correspondance avant un délai de 3 ans à compter de la date de fin de la
                                                préparation.
                                            </li>
                                        </ul>
                                        <p style="text-decoration: underline;font-weight: bold;">Comment effectuer sa
                                            demande ?</p>
                                        <p>Avant un concours, le centre de formation de la défense, organisateur des
                                            préparations aux concours, émet un appel à candidatures à l'attention des
                                            agents. Cet appel transmis par voie électronique et diffusé par les
                                            autorités centrales d'emploi, est accompagné de la note d'organisation de la
                                            préparation concours et d'une liste de recensement des candidats sur
                                            laquelle l'agent peut s'inscrire. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </main>
{% endblock %}
