<button id="DarkMode" title="Changer le thème du site" style="">
    <div>
        <div><p>Mode Nuit</p></div>
        <aside>
            <img src="{{ asset('assets/images/mode_nuit.svg') }}" alt="Mode nuit">
        </aside>
    </div>
</button>
<button id="DarkMode-Mobile" title="Changer le thème du site" style="">
    <div>
        <aside>
            <img src="{{ asset('assets/images/mode_nuit.svg') }}" alt="Mode nuit">
        </aside>
    </div>
</button>
