<button id="DarkMode" title="Changer le thème du site" style="">
    <div>
        <div><p>Mode Nuit</p></div>
        <aside><img src="/static/media/modenuit.9c7a82a1.svg" alt="Mode nuit"></aside>
    </div>
</button>
<button id="DarkMode-Mobile" title="Changer le thème du site" style="">
    <div>
        <aside><img src="/static/media/modenuit.9c7a82a1.svg" alt="Mode nuit"></aside>
    </div>
</button>
