    <header role="banner">
        <div class="flex conteneur">
            <div class="col-l1"><a href="https://www.defense.gouv.fr/"
                                   title="defense.gouv.fr - [Ouvrir dans une nouvelle fenêtre]"
                                   rel="noopener noreferrer" target="_blank"><img
                            src="/public/media/Logo_Ministere_des_Armees.jpg" alt="Logo Ministère des Armées"
                            id="mda_logo1"></a></div>
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="search-query form-control" placeholder="Saisissez votre recherche.." />
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div id="divMenu">
                        <div id="menuToggle">
                            <input type="checkbox" />
                            <span></span>
                            <span></span>
                            <span></span>
                            <ul id="menu">
                                <a href="#"><li>Home</li></a>
                                <a href="#"><li>About</li></a>
                                <a href="#"><li>Info</li></a>
                                <a href="#"><li>Contact</li></a>
                                <a href="#"><li>Show me more</li></a>
                            </ul>
                        </div>
                    </div>
        </div>
    </header>
