<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/favico-64.png">
    <link rel="manifest" href="/manifest.json">
    <title>Ministère des Armèes</title>
    <meta name="author" content="Civils de la Défense">
    <meta name="language" content="fr">
    <meta name="description"
          content="Le ministère des armées a besoin de vous ! Devenez Civils de la Défense, vos savoir-faire et vos compétences sont essentiels à la réalisation des missions du ministère et de ses forces armées.">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="Civils de la Défense, Civils, Défense, Ministère des Armées" xml:lang="fr">
    <link rel="canonical" href="https://www.civils.defense.gouv.fr" hreflang="fr">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Civils de la Défense">
    <meta property="og:description"
          content="Le ministère des armées a besoin de vous ! Devenez Civils de la Défense, vos savoir-faire et vos compétences sont essentiels à la réalisation des missions du ministère et de ses forces armées.">
    <meta property="og:url" content="https://www.civils.defense.gouv.fr" hreflang="fr">
    <meta property="og:site_name" content="Civils de la Défense">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<section id="root">
    {% include 'views/public/_header.html.twig' %}

    {% block body %}

    {% endblock %}

    {% include 'views/public/_footer.html.twig' %}
    {% include 'views/public/_darkmode.html.twig' %}
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% block javascripts %}
{% endblock %}

</body>
</html>
