{% extends 'views/admin/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin/js/plugins/nestable2/jquery.nestable.min.css') }}">
    <style>
        .dd {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            max-width: 90%;
            list-style: none;
            font-size: 13px;
            line-height: 20px;
        }

        .dd-list {
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .dd-list .dd-list {
            padding-left: 30px;
        }

        .dd-collapsed .dd-list {
            display: none;
        }

        .dd-item,
        .dd-empty,
        .dd-placeholder {
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            min-height: 20px;
            font-size: 13px;
            line-height: 20px;
        }

        .dd-handle {
            display: block;
            height: 30px;
            margin: 5px 0;
            padding: 5px 10px;
            color: #333;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid #ccc;
            background: #fafafa;
            background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
            background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
            background: linear-gradient(top, #fafafa 0%, #eee 100%);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            cursor: move;
            margin: 0 0 10px;
            background: #dbdbdb;
            /*    color: #6f6f6f;*/
            padding: 5px 12px
        }

        .dd-handle:hover {
            color: #2ea8e5;
            background: #fff;
        }

        .dd-item > button {
            position: relative;
            cursor: pointer;
            float: left;
            width: 25px;
            height: 30px;
            margin: 0px 0px;
            margin-right: 10px;
            padding: 0;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            border: 0;
            background: #4CAF50;
            font-size: 12px;
            line-height: 1;
            color: #fff;
            text-align: center;
            font-weight: bold;

        }

        .dd-item > button:before {
            content: '+';
            display: block;
            position: absolute;
            width: 100%;
            text-align: center;
            text-indent: 0;
        }

        .dd-item > button[data-action="collapse"]:before {
            content: '-';
        }

        .dd-placeholder,
        .dd-empty {
            margin: 5px 0;
            padding: 0;
            min-height: 30px;
            background: #f2fbff;
            border: 1px dashed #b6bcbf;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .dd-empty {
            border: 1px dashed #bbb;
            min-height: 100px;
            background-color: #e5e5e5;
            background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
            -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
            -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
            linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-size: 60px 60px;
            background-position: 0 0, 30px 30px;
        }

        .dd-dragel {
            position: absolute;
            pointer-events: none;
            z-index: 9999;
        }

        .dd-dragel > .dd-item .dd-handle {
            margin-top: 0;
        }

        .dd-dragel .dd-handle {
            -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
            box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
        }

        /**
        * Nestable Extras
        */
        .nestable-lists {
            display: block;
            clear: both;
            padding: 30px 0;
            width: 100%;
            border: 0;
            border-top: 2px solid #ddd;
            border-bottom: 2px solid #ddd;
        }

        #nestable-menu {
            padding: 0;
            margin: 20px 0;
        }

        #nestable-output,
        #nestable2-output {
            width: 100%;
            height: 7em;
            font-size: 0.75em;
            line-height: 1.333333em;
            font-family: Consolas, monospace;
            padding: 5px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        #nestable2 .dd-handle {
            color: #fff;
            border: 1px solid #999;
            background: #bbb;
            background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
            background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
            background: linear-gradient(top, #bbb 0%, #999 100%);
        }

        #nestable2 .dd-handle:hover {
            background: #bbb;
        }

        #nestable2 .dd-item > button:before {
            color: #fff;
        }


        .dd + .dd {
            margin-left: 2%;
        }

        .dd-hover > .dd-handle {
            background: #2ea8e5 !important;
        }

        .dd3-content {
            display: block;
            height: 30px;
            margin: 5px 0;
            padding: 5px 10px 5px 40px;
            color: #333;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid #ccc;
            background: #fafafa;
            background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
            background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
            background: linear-gradient(top, #fafafa 0%, #eee 100%);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .dd3-content:hover {
            color: #2ea8e5;
            background: #fff;
        }

        .dd-dragel > .dd3-item > .dd3-content {
            margin: 0;
        }

        .dd3-item > button {
            margin-left: 30px;
        }

        .dd3-handle {
            position: absolute;
            margin: 0;
            left: 0;
            top: 0;
            cursor: pointer;
            width: 30px;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            border: 1px solid #aaa;
            background: #ddd;
            background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
            background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
            background: linear-gradient(top, #ddd 0%, #bbb 100%);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .dd3-handle:before {
            content: '≡';
            display: block;
            position: absolute;
            left: 0;
            top: 3px;
            width: 100%;
            text-align: center;
            text-indent: 0;
            color: #fff;
            font-size: 20px;
            font-weight: normal;
        }

        .dd3-handle:hover {
            background: #ddd;
        }


        /*
        * Nestable++
        */
        .button-delete {
            position: absolute;
            top: 0px;
            right: -31px;
        }

        .button-edit {
            position: absolute;
            top: 0px;
            right: -65px;
        }

        #menu-editor {
            margin-top: 40px;
        }

        #saveButton {
            padding-right: 30px;
            padding-left: 30px;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Ajouter une nouvelle réponse</h3>
                    </div>
                    <form class="form" id="menu-add">
                        <div class="block-content">
                            <div class="form-group">
                                <label for="addText">Texte</label>
                                <textarea class="form-control" id="addText" placeholder="Texte de votre choix"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="block-content block-content-sm block-content-full bg-body-light rounded-bottom">
                            <div class="row">
                                <div class="col-12 text-right">
                                    <button class="btn btn-success" id="addButton">
                                        Ajouter la réponse <i class="fa fa-angle-right ml-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-md-8">
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Gérer l'ordre des questions, en les glissant</h3>
                    </div>
                    <div class="block-content">
                        <div class="dd nestable" id="nestable">
                            <ol class="dd-list"></ol>
                        </div>
                    </div>
                    <div class="block-content block-content-sm block-content-full bg-body-light rounded-bottom">
                        <form id="updateRobot">

                            <div class="row">
                                <div class="col-12 text-right">
                                    <button class="btn btn-info">
                                        Mettre à jour <i class="fa fa-angle-right ml-1"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <div class="col-md-4" id="menu-editor" style="display: none;">
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Edition d'une réponse en cours</h3>
                    </div>
                    <div class="block-content">
                        <form class="">
                            <div class="form-group">
                                <label for="editInputText">Texte</label>
                                <textarea type="text" class="form-control" id="editInputText"
                                          placeholder="Texte de votre choix"
                                          required></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="block-content block-content-sm block-content-full bg-body-light rounded-bottom">
                        <div class="row">
                            <div class="col-12 text-right">
                                <button class="btn btn-warning" id="editButton">
                                    Mettre à jour <i class="fa fa-angle-right ml-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/js/plugins/nestable2/jquery.nestable.min.js') }}"></script>
    <script>

        var updateOutput = function (e) {
            var list = e.length ? e : $(e.target),
                output = list.data('output');
            if (window.JSON) {
                console.log(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
            } else {
                console.log('JSON browser support required for this demo.');
            }
        };

        var nestableList = $("#nestable > .dd-list");

        var deleteFromMenuHelper = function (target) {
            if (target.data('new') == 1) {
                target.fadeOut(function () {
                    target.remove();
                });
            } else {
                target.appendTo(nestableList);
                target.remove();
            }
        };

        var deleteFromMenu = function () {
            var targetId = $(this).data('owner-id');
            var target = $('[data-id="' + targetId + '"]');
            toastr.success("Suppression réussi", 'Succès', true);
            target.find("li").each(function () {
                deleteFromMenuHelper($(this));
            });
            deleteFromMenuHelper(target);
        };

        /***************************************/

        /*************** Edit ***************/

        var menuEditor = $("#menu-editor");
        var editButton = $("#editButton");
        var editInputText = $("#editInputText");

        var prepareEdit = function () {
            var targetId = $(this).data('owner-id');
            var target = $('[data-id="' + targetId + '"]');
            editInputText.val(target.data("text"));
            editButton.data("owner-id", target.data("id"));
            menuEditor.fadeIn();
        };

        var editMenuItem = function () {
            var targetId = $(this).data('owner-id');
            var target = $('[data-id="' + targetId + '"]');
            var newText = editInputText.val();
            target.data("text", newText);
            target.find("> .dd-handle").html(newText);
            menuEditor.fadeOut();
        };

        /***************************************/


        /*************** Add ***************/

        var newIdCount = 1;

        var addToMenu = function () {
            var newText = $("#addText").val();
            var newId = 'new-' + newIdCount;

            nestableList.append(
                '<li class="dd-item" ' +
                'data-id="' + newId + '" ' +
                'data-text="' + newText + '" ' +
                'data-new="1">' +
                '<div class="dd-handle">' + newText + '</div> ' +
                '<span class="button-delete btn btn-danger btn-sm pull-right" ' +
                'data-owner-id="' + newId + '"> ' +
                '<i class="fa fa-times" aria-hidden="true"></i> ' +
                '</span>' +
                '<span class="button-edit btn btn-success btn-sm pull-right" ' +
                'data-owner-id="' + newId + '">' +
                '<i class="fa fa-pen" aria-hidden="true"></i>' +
                '</span>' +
                '</li>'
            );

            newIdCount++;

            $("#nestable .button-delete").on("click", deleteFromMenu);
            $("#nestable .button-edit").on("click", prepareEdit);
        };


        /***************************************/


        $(function () {

            var obj = '{{ array|raw }}';
            var output = '';

            function buildItem(item) {
                var newId = 'new-' + newIdCount;

                var html = "<li class='dd-item' data-text='" + item.text + "' data-id='" + newId + "'>";
                html += "<div class='dd-handle'>" + item.text + "</div>" +
                    "<span class='button-delete btn btn-danger btn-sm pull-right'" +
                    "data-owner-id='" + newId + "'> " +
                    "<i class='fa fa-times' aria-hidden='true'></i> " +
                    "</span>" +
                    "<span class='button-edit btn btn-success btn-sm pull-right' " +
                    "data-owner-id='" + newId + "'>" +
                    "<i class='fa fa-pen' aria-hidden='true'></i>" +
                    "</span>";
                newIdCount++;
                if (item.children) {
                    html += "<ol class='dd-list'>";
                    $.each(item.children, function (index, sub) {
                        html += buildItem(sub);
                    });
                    html += "</ol>";
                }
                html += "</li>";
                return html;

            }

            $.each(JSON.parse(obj), function (index, item) {
                output += buildItem(item);
            });

            $('.dd-list').html(output);
            $('#nestable').nestable({maxDepth: 100}
            ).on('change', updateOutput);

            editButton.on("click", editMenuItem);

            $("#nestable .button-delete").on("click", deleteFromMenu);

            $("#nestable .button-edit").on("click", prepareEdit);

            $("#menu-editor").submit(function (e) {
                e.preventDefault();
            });

            $("#menu-add").submit(function (e) {
                e.preventDefault();
                addToMenu();
            });

            $("#updateRobot").submit(function (e) {
                e.preventDefault();
                var data = $('#nestable').nestable('serialize');
                $.ajax({
                    url: '{{ path('chatbot_update') }}',
                    type: 'POST',
                    data: {
                        data: data
                    },
                    success: function (response) {
                        if (response.type === "success") {
                            toastr.success(response.message, 'Succès', true);
                        } else {
                            toastr.error(response.message, 'Erreur', true);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
