{% extends 'views/public/layout.html.twig' %}
{% block body %}
    <main role="main">
            <section id="home" class="flex conteneur">
                <div class="">
                    <div id="textHome" class="">
                        <h1>Lorem ipsum dolor sit amet consectetuer</h1>
                        <div class="rf-pb-5w">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        </div>
                        <br>
                        <div>
                            <a class="searchDispo" title="Trouver mon dispositif" href="/rappel#root">Trouver mon dispositif</a>
                        </div>
                </div>
                <div id ="imgHome" class="">
                    <img src="/public/media/illustration.png" alt="Candidatez aux missions" style="width: 100%;">
                </div>
            </div>
            </section>
        <section>
            <div id ="">
                <img src="/public/media/img_bann.png" alt="bannière" style="position: absolute; width: 100%;">
                <div class="col-6 link" style="position: relative; display : inline-flex;height:200px;z-index:2; margin-left: 25%; padding-top: 65px;">
                    <div id="inner1">
                        <ul>
                            <li><img src="/public/media/Picto_trouver.cvg" alt=""><a title="Trouver mon dispositif" href="/rappel#root">Trouver mon dispositif</a></li>
                            <li><img src="/public/media/Picto_trouver.png" alt=""><a title="Trouver mon dispositif" href="/rappel#root">Le catalogue de formation</a></li>
                            <li><img src="/public/media/Picto_trouver.png" alt=""><a title="Trouver mon dispositif" href="/rappel#root">Annuaire</a></li>
                        </ul>
                    </div>
                    <div id="inner2">
                        <ul>
                            <li><img src="/public/media/Picto_trouver.png" alt=""><a title="Trouver mon dispositif" href="/rappel#root">Les différents dispositifs de formation</a></li>
                            <li><img src="/public/media/Picto_trouver.png" alt=""><a title="Trouver mon dispositif" href="/rappel#root">Devenir formateur interne</a></li>
                            <li><img src="/public/media/Picto_trouver.png" alt=""><a title="Trouver mon dispositif" href="/rappel#root">Les ressources réglementaires</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="actualites">
            <div><P id="titreActualités" class="underline-small">Actualités</P></div>
            <div class="container">
              
              <div id="demo" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ul class="carousel-indicators mb-0 pb-0">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>

              <!-- The slideshow -->
              <div class="carousel-inner no-padding my-5">
                <div class="carousel-item active">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                      <img class=".opacity img-fluid card-img-top" src="/public/media/img_art1.png">
                      <div class="card-img-overlay t_img">
                      </div>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                      <img class="img-fluid card-img-top rounded-bottom" src="/public/media/img_art2.png">
                      <div class="card-img-overlay t_img">
                      </div>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                      <img class="img-fluid card-img-top rounded-bottom" src="/public/media/img_art3.png">
                      <div class="card-img-overlay t_img">
                      </div>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                      <img class="img-fluid card-img-top" src="/public/media/img_art4.png">
                      <div class="card-img-overlay t_img">
                        <span class="float-left text-uppercase">article</span>
                      </div>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>
                  </div>
                </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                 <span class="carousel-control-prev-icon sp"></span>
                            </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon sp"></span>
                            </a>
            </div>
            </div>
        </section>
        </section>
    </main>
{% endblock %}
