<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/favico-64.png">
    <link rel="manifest" href="/manifest.json">
    <title>Civils de la Défense</title>
    <meta name="author" content="Civils de la Défense">
    <meta name="language" content="fr">
    <meta name="description"
          content="Le ministère des armées a besoin de vous ! Devenez Civils de la Défense, vos savoir-faire et vos compétences sont essentiels à la réalisation des missions du ministère et de ses forces armées.">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="Civils de la Défense, Civils, Défense, Ministère des Armées" xml:lang="fr">
    <link rel="canonical" href="https://www.civils.defense.gouv.fr" hreflang="fr">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Civils de la Défense">
    <meta property="og:description"
          content="Le ministère des armées a besoin de vous ! Devenez Civils de la Défense, vos savoir-faire et vos compétences sont essentiels à la réalisation des missions du ministère et de ses forces armées.">
    <meta property="og:url" content="https://www.civils.defense.gouv.fr" hreflang="fr">
    <meta property="og:site_name" content="Civils de la Défense">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
</head>
<body>
<section id="root">
    <header role="banner">
        <div class="flex conteneur">
            <div class="col-l1"><a href="https://www.defense.gouv.fr/"
                                   title="defense.gouv.fr - [Ouvrir dans une nouvelle fenêtre]"
                                   rel="noopener noreferrer" target="_blank"><img
                            src="/static/media/Logo_Ministere_des_Armees.0806111d.svg" alt="Logo Ministère des Armées"
                            id="mda_logo1"><img src="/static/media/Logo_Ministere_des_Armees_white.48b2fc0e.svg"
                                                alt="Mogo Ministère des Armées" id="mda_logo2"></a></div>
            <div class="col-l2"><a class="hvr-underline-from-left active"
                                   title="Civils de la Défense - [Retour à l'accueil]" href="#home">Civils de la
                    Défense</a></div>
            <nav class="col-r" role="navigation">
                <ul>
                    <li><a class="hvr-underline-from-left" href="#rejoindre">Comment nous rejoindre</a></li>
                    <li><a class="hvr-underline-from-left" href="#metiers">Métiers</a></li>
                    <li><a id="recrutement" aria-current="page" href="/recrutement">Recrutement</a></li>
                    <li><a id="contact" href="/contact">Contact</a></li>
                    <div class="col2-burger">
                        <div>
                            <div class="bm-overlay"
                                 style="position: fixed; z-index: 1000; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); opacity: 0; transform: translate3d(100%, 0px, 0px); transition: opacity 0.3s ease 0s, transform 0s ease 0.3s;"></div>
                            <div>
                                <div class="bm-burger-button" style="z-index: 1000;"><span><span class="bm-burger-bars"
                                                                                                 style="position: absolute; height: 20%; left: 0px; right: 0px; top: 0%; opacity: 1;"></span><span
                                                class="bm-burger-bars"
                                                style="position: absolute; height: 20%; left: 0px; right: 0px; top: 40%; opacity: 1;"></span><span
                                                class="bm-burger-bars"
                                                style="position: absolute; height: 20%; left: 0px; right: 0px; top: 80%; opacity: 1;"></span></span>
                                    <button style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px; border: none; font-size: 0px; background: transparent; cursor: pointer;">
                                        Open Menu
                                    </button>
                                </div>
                            </div>
                            <div id="" class="bm-menu-wrap"
                                 style="position: fixed; right: 0px; z-index: 1100; width: 300px; height: 100%; transform: translate3d(100%, 0px, 0px); transition: all 0.3s ease 0s;">
                                <div class="bm-morph-shape"
                                     style="position: absolute; width: 120px; height: 100%; right: inherit; left: 0px; transform: rotateY(180deg);">
                                    <svg width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
                                        <path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z"></path>
                                    </svg>
                                </div>
                                <div class="bm-menu"
                                     style="height: 100%; box-sizing: border-box; overflow: visible; position: fixed; right: 0px; width: 180px; white-space: nowrap;">
                                    <nav class="bm-item-list"
                                         style="height: 100%; position: relative; left: -110px; width: 170%; overflow: auto;">
                                        <a class="bm-item menu-item" tabindex="-1" href="/#home"
                                           style="display: block;">Accueil</a><a class="bm-item menu-item" tabindex="-1"
                                                                                 href="/#rejoindre"
                                                                                 style="display: block;">Nous
                                            rejoindre</a><a class="bm-item menu-item" tabindex="-1"
                                                            href="/metiers#metiersAll" style="display: block;">Nos
                                            métiers</a><a class="bm-item menu-item" aria-current="page" tabindex="-1"
                                                          href="/recrutement" style="display: block;">Recrutement</a><a
                                                class="bm-item menu-item" tabindex="-1" href="/contact"
                                                style="display: block;">Contact</a><a class="bm-item menu-item"
                                                                                      tabindex="-1"
                                                                                      href="/accessibilite"
                                                                                      style="display: block;">Accessibilité</a><a
                                                class="bm-item menu-item" tabindex="-1" href="/cgu"
                                                style="display: block;">CGU</a><img
                                                src="/static/media/cd-logo.5597a56c.png" alt="Logo Civils de la Défense"
                                                id="burger-logo" class="bm-item" tabindex="-1" style="display: block;">
                                    </nav>
                                </div>
                                <div>
                                    <div class="bm-cross-button"
                                         style="position: absolute; width: 24px; height: 24px; right: 8px; top: 8px;">
                                        <span style="position: absolute; top: 6px; right: 14px;"><span class="bm-cross"
                                                                                                       style="position: absolute; width: 3px; height: 14px; transform: rotate(45deg);"></span><span
                                                    class="bm-cross"
                                                    style="position: absolute; width: 3px; height: 14px; transform: rotate(-45deg);"></span></span>
                                        <button tabindex="-1"
                                                style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px; border: none; font-size: 0px; background: transparent; cursor: pointer;">
                                            Close Menu
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    <main role="main">
        <section class="defilement"><span><p>Le ministère des Armées ouvre de nombreux parcours professionnels, dans toutes les filières, pour tout niveau d'études. Découvrez notre page Linkedin : <a
                            href="https://www.linkedin.com/company/civils-de-la-d%C3%A9fense/" rel="noopener noreferrer"
                            target="_blank"><strong><u>Civils de la Défense</u></strong></a> (Ouvrir dans une nouvelle fenêtre)</p></span>
        </section>
        <section id="home"
                 style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f81d33e8bc10_backgroud-civilsdeladefense.jpg');">
            <a class="evitement1" spy="true" duration="1500" rel="noopener noreferrer" href="/#rejoindre">Allez au
                contenu principal</a>
            <div id="filter"></div>
            <div class="flex conteneur full">
                <article class="col-home"><h1><img
                                src="https://www.civils.defense.gouv.fr/api/media/5f81fbc8b71ce_Logo_CivilsDeLaDefense2.svg"
                                alt="Logo Civils de la Défense"></h1>
                    <h2><img src="/static/media/contribueraunmondeplussur.8a5375ce.svg"
                             alt="Contribuez à un monde plus sûr" id="baseline"></h2>
                    <p>
                    <p>Le ministère des armées a besoin de vous !</p>
                    <p>Vos savoir-faire et vos compétences sont essentiels</p>
                    <p>à la réalisation des missions du ministère et des forces armées.</p></p><a
                            href="/personnel-civil" class="cta-filled" title="Article pourquoi nous rejoindre" target=""
                            type="button">En savoir plus ?</a></article>
            </div>
        </section>
        <section id="rejoindre"><p id="baseline" class="react-reveal"
                                   style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 50ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-352803128071436-2;">
                3 voies d'accès</p>
            <h2 class="react-reveal"
                style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 300ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-352803128071436-2;">
                Comment nous rejoindre</h2>
            <div class="metier-dcid">
                <div class="flex conteneur">
                    <section class="col-3"><a title="Article jeunesse" href="/jeunesse">
                            <aside id="jeunesse"
                                   style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f82fdb6edb04_Developpeur.jpg');">
                                <div id="filter"></div>
                            </aside>
                            <article><a href="/jeunesse">
                                    <h3><p>Stage, Apprentissage,</p>
                                        <p>Contrat armées-jeunesse</p></h3>
                                </a></article>
                        </a></section>
                    <section class="col-3"><a title="Article emplois" href="/emplois">
                            <aside id="jeunesse"
                                   style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f82fe7e2032c_SpecialisteMaintenantInfrastructure.jpg');">
                                <div id="filter"></div>
                            </aside>
                            <article><a href="/emplois">
                                    <h3><p>CDD / CDI,</p>
                                        <p>Ouvrier de l'État</p></h3>
                                </a></article>
                        </a></section>
                    <section class="col-3"><a title="Article concours" href="/concours">
                            <aside id="jeunesse"
                                   style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f82fe15ddf37_JuridiqueDroitOrganisationDefense.jpg');">
                                <div id="filter"></div>
                            </aside>
                            <article><a href="/concours">
                                    <h3><p>Concours</p>
                                        <p>interne et externe</p></h3>
                                </a></article>
                        </a></section>
                </div>
            </div>
            <section class="flex conteneur" id="fonctionnaire">
                <article class="col-2"><p>Je suis déjà dans la fonction publique</p></article>
                <aside class="col-2"><a href="/fonctionnaire#ensavoirplus" class="cta-filled"
                                        title="Concours internes, examens professionnels et mobilité" target=""
                                        type="button">En savoir plus ?</a></aside>
            </section>
        </section>
        <section id="chiffres"><h2>Découvrez le ministère en quelques chiffres</h2>
            <div class="flex conteneur">
                <article class="col-4"><h3 class="react-reveal"
                                           style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-352803128071436-1;">
                        62 500</h3><h4>Civils au ministère</h4>
                    <p>Les civils représentent 23 % des personnels du ministère. Ils contribuent pleinement aux missions
                        des armées.</p></article>
                <article class="col-4"><h3 class="react-reveal"
                                           style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-352803128071436-1;">
                        120 000</h3><h4>Jours de formation</h4>
                    <p>Le ministère a dispensé plus de 120 000 jours de formation professionnelle continue à l'ensemble
                        de ses agents.</p></article>
                <article class="col-4"><h3 class="react-reveal"
                                           style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-352803128071436-1;">
                        5 000</h3><h4>Recrutements / an</h4>
                    <p>Environ 5 000 postes sont à pourvoir chaque année dans nos différentes filières.</p></article>
                <article class="col-4"><h3 class="react-reveal"
                                           style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-352803128071436-1;">
                        3 000</h3><h4>Métiers différents</h4>
                    <p>Le ministère offre une grande diversité de métiers dans l'ensemble des filières : administrative,
                        technique, paramédicale et sociale</p></article>
                <a href="/chiffres#ensavoirplus" class="cta-filled"
                   title="Visitez la page, le ministère en quelques chiffres" target="" type="button">En savoir plus
                    ?</a></div>
        </section>
        <section id="promotions">
            <div class="carousel-root" tabindex="0">
                <div class="carousel carousel-slider" style="width: 100%;">
                    <button type="button" aria-label="previous slide / item"
                            class="control-arrow control-prev"></button>
                    <div class="slider-wrapper axis-horizontal">
                        <ul class="slider animated"
                            style="transform: translate3d(-200%, 0px, 0px); transition-duration: 350ms;">
                            <li class="slide">
                                <div class="slider-promotions">
                                    <div class="flex conteneur">
                                        <aside class="col-2"><img
                                                    src="https://fichiers.acteurspublics.com/site/victoires/images/2021-02-03_laureat_2.jpg"
                                                    alt=""></aside>
                                        <article class="col-2"><h2>Le Ministère des Armées a reçu la Victoire de
                                                l’innovation pour le projet «Waked-co» </h2>
                                            <p>
                                            <p><strong>La&nbsp;Victoire “Innovation” </strong>remise au&nbsp;ministère
                                                des Armées pour&nbsp;le&nbsp;projet “Face à&nbsp;la&nbsp;crise, une&nbsp;plate‑forme
                                                d’aide à&nbsp;la&nbsp;décision”</p></p><a
                                                    href="https://www.linkedin.com/posts/acteurspublics_bravo-aux-laur%C3%A9ats-des-victoires-des-acteurs-activity-6762837022047510528-zCSY"
                                                    title="En savoir plus ? - [Ouvrir dans une nouvelle fenêtre]"
                                                    class="cta-filled" target="_blank" rel="noopener noreferrer">En
                                                savoir plus ?</a></article>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="slider-promotions">
                                    <div class="flex conteneur">
                                        <aside class="col-2"><img
                                                    src="https://iestl.com/wp-content/uploads/2019/06/QUELS-CONCOURS-AIDE-SOIGNANT-EN-SEPTEMBRE-2019.jpg"
                                                    alt=""></aside>
                                        <article class="col-2"><h2>Recrutement : concours d'aides-soignants du 9 mars au
                                                16 avril 2021</h2>
                                            <p>
                                            <p>Ces <strong>recrutements</strong> sont effectués au profit du <strong>service
                                                    de santé des armées</strong> et de l’Institution nationale des
                                                Invalides (INI)</p></p><a
                                                    href="https://www.defense.gouv.fr/civils/a-la-une/recrutement-d-aides-soignants-pour-les-hopitaux-des-armees"
                                                    title="En savoir plus ? - [Ouvrir dans une nouvelle fenêtre]"
                                                    class="cta-filled" target="_blank" rel="noopener noreferrer">En
                                                savoir plus ?</a></article>
                                    </div>
                                </div>
                            </li>
                            <li class="slide selected">
                                <div class="slider-promotions">
                                    <div class="flex conteneur">
                                        <aside class="col-2"><img
                                                    src="https://www.defense.gouv.fr/var/dicod/storage/images/base-de-medias/images/sga-images/forum-11-mars/une-internet-forum-11-mars-2021-elles-bougent/10207115-1-fre-FR/une-internet-forum-11-mars-2021-elles-bougent_a_la_une.jpg"
                                                    alt=""></aside>
                                        <article class="col-2"><h2>11 mars : un forum pour les ingénieures et
                                                techniciennes</h2>
                                            <p>
                                            <p>Le ministère des Armées prend part <strong>forum virtuel « réseaux &amp;
                                                    carrières au féminin »</strong> ouvert aux étudiantes en fin de
                                                cycle, aux jeunes diplômées des filières scientifiques et technique …
                                            </p></p><a
                                                    href="https://www.defense.gouv.fr/civils/a-la-une/11-mars-un-forum-pour-les-ingenieures-et-techniciennes"
                                                    title="En savoir plus ? - [Ouvrir dans une nouvelle fenêtre]"
                                                    class="cta-filled" target="_blank" rel="noopener noreferrer">En
                                                savoir plus ?</a></article>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="slider-promotions">
                                    <div class="flex conteneur">
                                        <aside class="col-2"><img
                                                    src="https://www.defense.gouv.fr/var/dicod/storage/images/base-de-medias/images/sga-images/portail-civils/lancement-site-civils-de-la-defense/10191176-1-fre-FR/lancement-site-civils-de-la-defense_a_la_une.png"
                                                    alt=""></aside>
                                        <article class="col-2"><h2>Recrutements : le nouveau portail «Civils de la
                                                défense»</h2>
                                            <p>
                                            <p>Chaque année, le ministère des Armées propose près de 5 000 postes à des
                                                civils. Pour faciliter l’accès aux informations et aux offres d’emploi,
                                                le Secrétariat général pour l’administration (SGA) lance un portail
                                                unique. </p></p><a
                                                    href="https://www.defense.gouv.fr/civils/a-la-une/recrutements-le-nouveau-portail-civils-de-la-defense"
                                                    title="En savoir plus ? - [Ouvrir dans une nouvelle fenêtre]"
                                                    class="cta-filled" target="_blank" rel="noopener noreferrer">En
                                                savoir plus ?</a></article>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="slider-promotions">
                                    <div class="flex conteneur">
                                        <aside class="col-2"><img
                                                    src="https://www.defense.gouv.fr/var/dicod/storage/images/base-de-medias/images/actualites/images-actu/recrutement-20210212/10188768-1-fre-FR/recrutement-20210212_a_la_une.jpg"
                                                    alt=""></aside>
                                        <article class="col-2"><h2>Le recrutement au sein du ministère des Armées : un
                                                enjeu opérationnel au service de la protection des Français</h2>
                                            <p>
                                            <p>Dans une période marquée par le fort impact économique de la crise
                                                sanitaire, le ministère des armées s'apprête à devenir le premier
                                                recruteur de l’État avec 26 000 recrutements à l'année.</p></p><a
                                                    href="https://www.defense.gouv.fr/actualites/articles/le-recrutement-au-sein-du-ministere-des-armees-un-enjeu-operationnel-au-service-de-la-protection-des-francais"
                                                    title="En savoir plus ? - [Ouvrir dans une nouvelle fenêtre]"
                                                    class="cta-filled" target="_blank" rel="noopener noreferrer">En
                                                savoir plus ?</a></article>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="slider-promotions">
                                    <div class="flex conteneur">
                                        <aside class="col-2"><img
                                                    src="https://i.ytimg.com/vi/btJcGfLTWwY/maxresdefault.jpg" alt="">
                                        </aside>
                                        <article class="col-2"><h2>Les civils au sein du ministère des armées</h2>
                                            <p>
                                            <p>Ils ne portent pas l’uniforme mais ils travaillent aux côtés des
                                                militaires. Les civils de la Défense représentent près d’un quart de la
                                                population du ministère des Armées.</p></p><a
                                                    href="https://www.youtube.com/watch?v=btJcGfLTWwY&amp;t=1s"
                                                    title="En savoir plus ? - [Ouvrir dans une nouvelle fenêtre]"
                                                    class="cta-filled" target="_blank" rel="noopener noreferrer">En
                                                savoir plus ?</a></article>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="slider-promotions">
                                    <div class="flex conteneur">
                                        <aside class="col-2"><img
                                                    src="https://fichiers.acteurspublics.com/site/victoires/images/2021-02-03_laureat_2.jpg"
                                                    alt=""></aside>
                                        <article class="col-2"><h2>Le Ministère des Armées a reçu la Victoire de
                                                l’innovation pour le projet «Waked-co» </h2>
                                            <p>
                                            <p><strong>La&nbsp;Victoire “Innovation” </strong>remise au&nbsp;ministère
                                                des Armées pour&nbsp;le&nbsp;projet “Face à&nbsp;la&nbsp;crise, une&nbsp;plate‑forme
                                                d’aide à&nbsp;la&nbsp;décision”</p></p><a
                                                    href="https://www.linkedin.com/posts/acteurspublics_bravo-aux-laur%C3%A9ats-des-victoires-des-acteurs-activity-6762837022047510528-zCSY"
                                                    title="En savoir plus ? - [Ouvrir dans une nouvelle fenêtre]"
                                                    class="cta-filled" target="_blank" rel="noopener noreferrer">En
                                                savoir plus ?</a></article>
                                    </div>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="slider-promotions">
                                    <div class="flex conteneur">
                                        <aside class="col-2"><img
                                                    src="https://iestl.com/wp-content/uploads/2019/06/QUELS-CONCOURS-AIDE-SOIGNANT-EN-SEPTEMBRE-2019.jpg"
                                                    alt=""></aside>
                                        <article class="col-2"><h2>Recrutement : concours d'aides-soignants du 9 mars au
                                                16 avril 2021</h2>
                                            <p>
                                            <p>Ces <strong>recrutements</strong> sont effectués au profit du <strong>service
                                                    de santé des armées</strong> et de l’Institution nationale des
                                                Invalides (INI)</p></p><a
                                                    href="https://www.defense.gouv.fr/civils/a-la-une/recrutement-d-aides-soignants-pour-les-hopitaux-des-armees"
                                                    title="En savoir plus ? - [Ouvrir dans une nouvelle fenêtre]"
                                                    class="cta-filled" target="_blank" rel="noopener noreferrer">En
                                                savoir plus ?</a></article>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button type="button" aria-label="next slide / item" class="control-arrow control-next"></button>
                    <ul class="control-dots">
                        <li class="dot" value="0" role="button" tabindex="0" aria-label="slide item 1"></li>
                        <li class="dot selected" value="1" role="button" tabindex="0" aria-label="slide item 2"></li>
                        <li class="dot" value="2" role="button" tabindex="0" aria-label="slide item 3"></li>
                        <li class="dot" value="3" role="button" tabindex="0" aria-label="slide item 4"></li>
                        <li class="dot" value="4" role="button" tabindex="0" aria-label="slide item 5"></li>
                        <li class="dot" value="5" role="button" tabindex="0" aria-label="slide item 6"></li>
                    </ul>
                    <p class="carousel-status">2 of 6</p></div>
            </div>
        </section>
        <section id="metiers"><p class="react-reveal"
                                 style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 50ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-352803128071436-2;">
                Plus de 3000 métiers</p>
            <h2 class="react-reveal"
                style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 300ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-352803128071436-2;">
                Découvrez nos métiers</h2>
            <div class="metier-dcid">
                <article id="dcid-metier-1" class="container"
                         style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f823581aa727_AchatEtControleDePrestation.jpg');">
                    <div class="filter"></div>
                    <a class="btn-unfilled" title="acheteur (h/f)" href="/metier/1">ACHETEUR (H/F)</a></article>
                <article id="dcid-metier-2" class="container"
                         style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f82416e496d9_ConducteurDeTraveaux.jpg');">
                    <div class="filter"></div>
                    <a class="btn-unfilled" title="conducteur de travaux (h/f)" href="/metier/3">CONDUCTEUR DE TRAVAUX
                        (H/F)</a></article>
                <article id="dcid-metier-3" class="container"
                         style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f82fdec634a3_GestionAdministrativePaie.jpg');">
                    <div class="filter"></div>
                    <a class="btn-unfilled" title="gestion administrative et paie (h/f)" href="/metier/2">GESTION
                        ADMINISTRATIVE ET PAIE (H/F)</a></article>
                <article id="dcid-metier-4" class="container"
                         style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f82fe02df38d_IngenieurCyberDefense.jpg');">
                    <div class="filter"></div>
                    <a class="btn-unfilled" title="ingénieur cyberdéfense (h/f)" href="/metier/13">INGÉNIEUR
                        CYBERDÉFENSE (H/F)</a></article>
                <article id="dcid-metier-5" class="container"
                         style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f82fdf6e4b22_Infirmiere.jpg');">
                    <div class="filter"></div>
                    <a class="btn-unfilled" title="infirmier (h/f)" href="/metier/4">INFIRMIER (H/F)</a></article>
                <article id="dcid-metier-6" class="container"
                         style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f82fcd5129da_ExpertPreventionSanteSecurite.jpg');">
                    <div class="filter"></div>
                    <a class="btn-unfilled" title="chargé de prévention des risques professionnels (h/f)"
                       href="/metier/6">CHARGÉ DE PRÉVENTION DES RISQUES PROFESSIONNELS (H/F)</a></article>
                <article id="dcid-metier-7" class="container"
                         style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f82fe15ddf37_JuridiqueDroitOrganisationDefense.jpg');">
                    <div class="filter"></div>
                    <a class="btn-unfilled" title="chargé d'études contentieux général (h/f)" href="/metier/5">CHARGÉ
                        D'ÉTUDES CONTENTIEUX GÉNÉRAL (H/F)</a></article>
                <article id="dcid-metier-8" class="container"
                         style="background-image: url('https://www.civils.defense.gouv.fr/api/media/5f82fd89a2031_ChargeCommunication.jpg');">
                    <div class="filter"></div>
                    <a class="btn-unfilled" title="chargé de communication (h/f)" href="/metier/7">CHARGÉ DE
                        COMMUNICATION (H/F)</a></article>
                <div id="dcid-metier-9" class="container">
                    <div class="middle"><a class="btn-unfilled" title="Découvrir d'autres métiers" href="/metiers">Découvrir
                            d'autres métiers</a></div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer" role="contentinfo">
        <div class="flex conteneur">
            <section class="col-4"><a href="https://www.defense.gouv.fr/" rel="noopener noreferrer" target="_blank"
                                      title="Logo Ministère des Armées - [Ouvrir dans une nouvelle fenêtre]"><img
                            src="/static/media/Logo_Ministere_des_Armees.0806111d.svg" alt="Logo Ministère des Armées"
                            id="mda_logo1"><img src="/static/media/Logo_Ministere_des_Armees_white.48b2fc0e.svg"
                                                alt="Logo Ministère des Armées" id="mda_logo2"></a><br><br><a
                        title="Civils de la Défense - [Retour à l'accueil]" href="/#home"><img
                            src="/static/media/Logo_CivilsDeLaDefense.665d2b7f.svg" alt="Logo Civils de la Défense"
                            id="dcid_logo1"><img src="/static/media/Logo_CivilsDeLaDefense2.941d2bcf.svg"
                                                 alt="Logo Civils de la Défense" id="dcid_logo2"></a><br><br>
                <div class="flex rs_svg">
                    <div class="col-5"><a href="https://www.linkedin.com/company/civils-de-la-d%C3%A9fense/"
                                          title="Linkedin - [Ouvrir dans une nouvelle fenêtre]"
                                          rel="noopener noreferrer" target="_blank"><img
                                    src="/static/media/linkedin.360eeae1.svg" alt="Ministère des Armées - Linkedin"
                                    class="rs1"><img src="/static/media/linkedin2.edf97877.svg"
                                                     alt="Ministère des Armées - Linkedin" class="rs2"></a></div>
                    <div class="col-5"><a href="https://twitter.com/armees_gouv?lang=fr"
                                          title="Twitter - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer"
                                          target="_blank"><img src="/static/media/twitter.4a00713d.svg"
                                                               alt="Ministère des Armées - Twitter" class="rs1"><img
                                    src="/static/media/twitter2.593d1837.svg" alt="Ministère des Armées - Twitter"
                                    class="rs2"></a></div>
                    <div class="col-5"><a href="https://www.youtube.com/user/ministeredeladefense"
                                          title="Youtube - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer"
                                          target="_blank"><img src="/static/media/youtube.f6853533.svg"
                                                               alt="Ministère des Armées - Youtube" class="rs1"><img
                                    src="/static/media/youtube2.0ab26449.svg" alt="Ministère des Armées - Youtube"
                                    class="rs2"></a></div>
                    <div class="col-5"><a href="https://www.instagram.com/armees_gouv/"
                                          title="Instagram - [Ouvrir dans une nouvelle fenêtre]"
                                          rel="noopener noreferrer" target="_blank"><img
                                    src="/static/media/instagram.ed251f7a.svg" alt="Ministère des Armées - Instagram"
                                    class="rs1"><img src="/static/media/instagram2.30b2ac0e.svg"
                                                     alt="Ministère des Armées - Instagram" class="rs2"></a></div>
                    <div class="col-5"><a href="https://www.facebook.com/Armees.Gouv"
                                          title="Facebook - [Ouvrir dans une nouvelle fenêtre]"
                                          rel="noopener noreferrer" target="_blank"><img
                                    src="/static/media/facebook.5391dfc8.svg" alt="Ministère des Armées - Facebook"
                                    class="rs1"><img src="/static/media/facebook2.401530ab.svg"
                                                     alt="Ministère des Armées - Facebook" class="rs2"></a></div>
                </div>
            </section>
            <section class="col-4"><p>Plan du site</p>
                <ul>
                    <li><a href="/#home">Civils de la Défense</a></li>
                    <li><a href="/#rejoindre">Pourquoi nous rejoindre</a></li>
                    <li><a href="/metiers">Nos Métiers</a></li>
                    <li><a href="/recrutement#recrutement-offre">Recrutement</a></li>
                    <li><a title="Contact" class="btn-unfilled" href="/contact">Contact</a></li>
                </ul>
            </section>
            <section class="col-4"><p>Mentions légales</p>
                <ul>
                    <li><a href="/accessibilite">Accessibilité</a></li>
                    <li><a title="Conditions générales d'utilisation" class="btn-unfilled" href="/cgu">Conditions
                            générales d'utilisation</a></li>
                    <li>
                        <button id="Dyslexique">Mode lecture Dyslexique</button>
                    </li>
                </ul>
            </section>
            <section class="col-4"><p>Réseau</p>
                <ul>
                    <li><a href="https://www.defense.gouv.fr/"
                           title="defense.gouv.fr - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer"
                           target="_blank">Ministère des Armées</a></li>
                    <li><a href="https://sengager.fr" title="sengager.fr - [Ouvrir dans une nouvelle fenêtre]"
                           rel="noopener noreferrer" target="_blank">Armée de Terre</a></li>
                    <li><a href="https://etremarin.fr" title="etremarin.fr - [Ouvrir dans une nouvelle fenêtre]"
                           rel="noopener noreferrer" target="_blank">Marine Nationale</a></li>
                    <li><a href="https://devenir-aviateur.fr"
                           title="devenir-aviateur.fr - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer"
                           target="_blank">Armée de l’Air et de l'espace</a></li>
                    <li><a href="https://www.defense.gouv.fr/dga"
                           title="DGA - Direction générale de l'armement - [Ouvrir dans une nouvelle fenêtre]"
                           rel="noopener noreferrer" target="_blank">Direction générale de l'armement</a></li>
                </ul>
                <br>
                <p>Recrutement Civils</p>
                <ul>
                    <li><a href="https://contractuels.civils.defense.gouv.fr/"
                           title="contractuels.civils.defense.gouv.fr - [Ouvrir dans une nouvelle fenêtre]"
                           rel="noopener noreferrer" target="_blank">Agents contractuels</a></li>
                    <li><a href="https://place-emploi-public.gouv.fr"
                           title="place-emploi-public.gouv.fr - [Ouvrir dans une nouvelle fenêtre]"
                           rel="noopener noreferrer" target="_blank">Place de l’emploi public</a></li>
                    <li><a href="https://stages.defense.gouv.fr"
                           title="stages.defense.gouv.fr - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer"
                           target="_blank">Stage / Apprentissage / Contrat Armées-Jeunesse</a></li>
                </ul>
            </section>
        </div>
        <br>
        <p>Ministère des Armées | Tous droits réservés
            <time datetime="1616015943558">2021</time>
        </p>
    </footer>
    <button id="DarkMode" title="Changer le thème du site" style="">
        <div>
            <div><p>Mode Nuit</p></div>
            <aside><img src="/static/media/modenuit.9c7a82a1.svg" alt="Mode nuit"></aside>
        </div>
    </button>
    <button id="DarkMode-Mobile" title="Changer le thème du site" style="">
        <div>
            <aside><img src="/static/media/modenuit.9c7a82a1.svg" alt="Mode nuit"></aside>
        </div>
    </button>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
