{% extends 'views/admin/layout.html.twig' %}

{% block body %}
<div class="content">
    <div class="d-md-flex justify-content-md-between align-items-md-center py-3 pt-md-3 pb-md-0 text-center text-md-left">
        <div>
            <h1 class="h2 mb-1">
                Dashboard
            </h1>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/js/plugins/chart.js/Chart.bundle.min.js') }}"></script>
    <script src="{{ asset('admin/js/pages/be_pages_dashboard.min.js') }}"></script>
{% endblock %}
